/* .chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */
.chat-window {
  /* Custom Scroll Bar for firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(146, 145, 145, 0.705) #292929;
}

.chat-window::-webkit-scrollbar {
  width: 4px;
  background-color: #292929;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: rgba(146, 145, 145, 0.705);
}
